name: labeled actions

on:
  issues:
    types:
      ['labeled', 'reopened']

jobs:
  labeled-actions:
    runs-on: ubuntu-latest
    if: |
      (github.event.label.name == '特別なラベル') || (github.event.issue.labels.name == '特別なラベル')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Post to Notion
        id: post-notion
        uses: ./
        with:
          repo-token: ${{ secrets.ACCESS_TOKEN }}
          issue-title: ${{ github.event.issue.title }}
          url: ${{ github.event.issue.url }}
          integrations-token: ${{ secrets.NOTION_TOKEN }}
          db-id: ${{ secrets.DB_ID }}
      - name: output
        run: echo ${{ steps.post-notion.outputs.new-page }}
