name: labeled actions

on:
  issues:
    types:
      ['labeled']

jobs:
  labeled-actions:
    runs-on: ubuntu-latest
    if: |
      (github.event.label.name == '特別なラベル')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Post to Notion
        uses: ./
        with:
          repo-token: ${{ secrets.ACCESS_TOKEN }}
          issue-title: ${{ github.event.issue.title }}
          url: ${{ github.event.issue.url }}
          integrations-token: ${{ secrets.NOTION_TOKEN }}
          db-id: ${{ secrets.DB_ID }}
